/* More Information */
.more-info {
    padding: 60px 0;
}

.more-info-content {
    width: 45%;
    float: left;
    margin-top: 265px;
    margin-right: 5%;
}

.more-info-content p {
    margin-bottom: 35px;
}

.more-info-image {
    width: 50%;
    float: left;
}

.more-info-image img {
    width: 100%;
    height: auto;
    display: block;
}
