/* section-content (Range / Works)  */
.section-content-wrapper {
    border-bottom: 1px solid #D7D6D6;
}

.section-content-header {
    text-align: center;
    margin-bottom: 88px;
}

.section-content-gallery {
    text-align: center;
}

.section-content-gallery img+img {
    margin-left: 1.5%;
}

.section-content-gallery>div {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 0 0.75%;
}

.section-content-gallery img {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    display: block;
}
