/* Footer */
.footer-bg {
    background-color: $color-footer;
    @include section-padding($section-spacing-sm);
}

#footer p,
#footer h3 {
    color: white;
}

#footer h3:first-child {
    margin-bottom: 30px;
}

.footer-left {
    width: 400px;
    float: left;
}

.footer-right {
    width: 780px;
    float: left;
    margin-left: 20px;
}

.footer-right img+img {
    margin-left: 20px;
}