/* Inspiration */
#inspiration-header {
    text-align: center;
    margin-bottom: 88px;
}

.inspiration-gallery {
    text-align: center;
}

.inspiration-gallery img+img {
    margin-left: 41px;
}