/* More Information */
.more-info {
    padding: 60px 0
}

.more-info-content {
    width: 540px;
    float: left;
    margin-top: 265px;
    margin-right: 60px;
}

.more-info-content p {
    margin-bottom: 35px;
}

.more-info-image {
    width: 600px;
    float: left;
}